@import url(//fonts.googleapis.com/css?family=Crete+Round);

/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */ html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

html{
	background: url('/images/wood.jpg');
}

body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333333;
	width: 940px;
	margin: auto;
	font-size: 14px;
	line-height: 20px;
	padding: 20px;
}

article{
	background: #fafafa;
	border: 1px solid #dddddd;
	padding: 20px;
	width: 700px;
	margin-left: 250px;
	border-radius: 5px;
}

footer{
	margin-top: 20px;
	text-align: center;
	width: 700px;
	margin-left: 240px;
	text-shadow: 1px 1px 0px rgba(255,255,255,.8);
}

code{
	white-space: pre;
	font-family: monospace;
}

h1, h2, h3, h4{
	font-weight: normal;
	font-family: Crete Round;
}

h1{
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 25px;
	color: rgba(255,255,255,1);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

h1 span{
	display: block;
	font-size: 30px;
	line-height: 30px;
}

h1 span.translations{
	display: block;
	font-size: 20px;
	line-height: 20px;
	float: right;
}

h2{
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

h3{
	font-size: 20px;
	line-height: 28px;
	margin: 10px 0px;
}

h4{
	font-size: 18px;
	line-height: 26px;
	margin-top: 20px;
}

* + p,
* + article ol,
* + article ul,
* + article li{
	margin-top: 10px;
}

article ol li{
	margin-left: 20px;
}

p + h2{
	margin-top: 50px;
}

section + section:before{
	content: url('/images/divider.png');
	display: block;
	margin: 60px auto;
	height: 43px;
	text-align: center;
	opacity: .5;
}

ul{
	margin-left: 15px;
}

.terminal{
	font-family: Monospace;
}

nav{
	display: block;
	width: 230px;
	background: transparent;
	position: absolute;
	top: 130px;
}

nav.sticky{
	position: fixed;
	top: 5px;
}

nav ol{
	list-style-type: none;
}

nav ol li + li a,
nav ol li:first-child a{
	border-top: 1px solid #dddddd;
}

nav ol li:last-child a{
	border-bottom: 1px solid #dddddd;
}

nav ol li:first-child a{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

nav ol li:last-child a{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

nav ol li a{
	background: #ffffff;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	line-height: 12px;
	font-size: 12px;
}

a:link,
nav ol li a:visited{
	color: #4273DC;
}

nav ol li a:hover{
	color: #2F436C;
	background: #f4f4f4;
}

nav ol li a.highlighted,
nav ol li a.highlighted:hover{
	color: #ffffff;
	background: #4273DC;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .5);
	border-left: 1px solid #4273DC;
	border-right: 1px solid #4273DC;
}

nav ol li:first-child a.highlighted{
	border-top: 1px solid #4273DC;
}

nav ol li:last-child a.highlighted{
	border-bottom: 1px solid #4273DC;
}

* + code.terminal{
	margin-top: 10px;
}

code.terminal{
	color:#fff;
	background-color:#444;
	background-image: url('/images/terminal.png');
	border: 1px solid #888;
	font-family:'Courier New', Courier, Fixed;
	background-position:10px 15px;
	background-repeat:no-repeat;
	text-align:left;
	font-size: 14px;
	line-height: 20px;
	padding:10px 10px 10px 40px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .8);
	box-shadow: 1px 1px 0px rgba(255, 255, 255, .5) inset;
	border-radius: 5px;
	display: block;
	white-space: normal;
}

code.terminal.multiline span{
	display: block;
}

code.terminal:before,
code.terminal.multiline span:before{
	display: inline;
	margin-right: 5px;
	color: #56DA55;
	font-weight: bold;
}

code.terminal:not(.multiline):before{
	content:'user@localhost:';
}

code.terminal[data-hostname]:not(.multiline):before{
	content:'user@'attr(data-hostname)':';
}

code.terminal.multiline span:before{
	content:'user@localhost:';
}

code.terminal.multiline span[data-hostname]:before{
	content:'user@'attr(data-hostname)':';
}

code.terminal.multiline span + span{
	margin-top: 5px;
}

aside{
	background: #eee;
	padding: 20px;
	margin-top: 20px;
}

aside h3:first-child{
	margin-top: 0;
}
